.main {
	width: 100%;
	background-color: #EAEEF6;

	&__block {
		width: 100%;
		margin: 0 auto;
		padding: 25px 0 49px;
	}

	&__content {
		width: 100%;
		display: flex;
	}
}



// ================== Медиа ====================================
@media screen and (max-width: 1200px) {
	.main {
		&__block {
			width: 100%;
			margin: 0 auto;
			padding: 40px 0 64px;
		}

		&__content {
			display: block;
		}
	}
}

@media screen and (max-width: 495px) {
	.container {
		width: 100%;
		padding: 0 16px;
	}
}