.form-browse {
	&__block {
		display: flex;
		flex-direction: column;
	}

	&__area {
		max-width: 370px;
		width: 100%;
		outline: none;
		padding: 14px;
		background: #EAEEF6;
		border: 0.7px solid rgba(148, 166, 190, 0.40);
		border-radius: 8px;
		font-size: 14px;
		line-height: 1;
		letter-spacing: -0.14px;
		margin-top: 14px;
		height: 200px;

		&::placeholder {
			font-weight: 400;
			font-size: 14px;
			line-height: 1px;
			color: #94A6BE;
			letter-spacing: -0.14px;
		}
	}
}