.header {
	&__nav {
		max-width: 290px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__btn-main-new {
		width: 178px;
		height: 30px;
		border-radius: 4px;
		background-color: #565EEF;
		color: #FFFFFF;
		border: none;
		font-size: 14px;
		line-height: 1;
		font-weight: 500;
		margin-right: 20px;

		& a {
			color: #FFFFFF;
		}
	}

	&__user {
		height: 20px;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		line-height: 20px;
		color: #565EEF;

		&::after {
			content: "";
			display: block;
			width: 6px;
			height: 6px;
			border-radius: 1px;
			border-left: 1.9px solid #565EEF;
			border-bottom: 1.9px solid #565EEF;
			transform: rotate(-45deg);
			margin: -6px 0 0 5px;
			padding: 0;
		}
	}
}


// ================== Медиа ====================================

@media screen and (max-width: 495px) {
	.header {
		&__btn-main-new {
			z-index: 3;
			position: fixed;
			left: 16px;
			bottom: 30px;
			top: auto;
			width: calc(100vw - 32px);
			height: 40px;
			border-radius: 4px;
			margin-right: 0;
		}
	}
}